body {
    background: rgba(175, 172, 172, 0.26);
    border-color:red;
}
/* .container { */
    /* grid-template-columns: 2fr 1fr 1fr 1fr; */
    /* border-color; */
/* } */

.wrapper{
    width:960px;
    /* ßheight:60px; */
    /* grid-template-columns:2fr 1fr 1fr 1fr; */
    /* float:left; */
    /* Display:inline-block; */
    /* flex-direction:row; */
    /* display: table-column; */
}

.headerLogo{
    color:whitesmoke;
    background-color:#4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    Content: 100px 80px 100px 80px;
    Border: 20px 15px 20px 15px;
}

.navigation {
    text-align:right;
    Display:block;
    /* Float: right; */
    /* flex-direction:row; */
    /* display:table-row; */
}

.section2{
    clear:both;
    height:700px
}

.aboutMeBody {
    /* align-content: right; */
}
.closing{
    background-color:#666666;
    height:50px;
    clear: both;
}
.footer{
    text-align:center;
    color:whitesmoke;
    font-size:xx-small;
    font-family: Arial, Helvetica, sans-serif;
    border-top-color: #4aaaa5;
    border-top: 10px;
}

.navigationLink {
    font-family: Arial, Helvetica, sans-serif;
    font: color #777777;
    /* column-gap: 15px; */
   /* display: table-row;  */
}

.firstpct {
    height: 300px;
    width: 250px;
    float:left;
    }
.pct2 {
    height:60px;
    width:60px;
    }

/*.aboutme {
    background-color:#ffffff;
    border-color:#dddddd; 
    display: grid;
    grid-template-columns: 30% 50%;
    grid-column-gap: 10px;
    border-width:80px;
    border-color: red;

}*/
/* .portpics { */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    
/* } */

.portfolio {
    height:120px;
    width:120px;
}

.portfolioBody {
    /* grid-template-columns: 1fr 1fr; */
    /* flex-direction: row; */
}

.portfolioPicture{
    /* height:120px; */
    /* width:120px; */
}

.pct3 {
    height:120px;
    width:120px;
}

.socialMeds {
   float: right;
   position: absolute;
   bottom: 400px;
   right:80px;
}

/*#message {
    color:red;
}
*/
.socialImage{
    float:left;

}

h2{
    color:#4aaaa5;
}
p{
    color:#777777;
    /* vertical-align:right; */
}